<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <div class="mt-5 border border-1 border-dark-subtle rounded-3 w-50 mx-auto p-5">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                beatae, aspernatur incidunt sapiente ducimus quasi sunt maxime
                ea modi, quam eligendi libero quia deleniti nisi exercitationem,
                unde dolore voluptas reprehenderit iusto sint? Fuga illo nulla 
                fugiat nobis beatae. Maxime numquam doloremque dolorem et, repellendus 
                aspernatur porro commodi aperiam dignissimos veniam.
            </p>
            <p class="m-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
                beatae, aspernatur incidunt sapiente ducimus quasi sunt maxime
                ea modi, quam eligendi libero quia deleniti nisi exercitationem,
                unde dolore voluptas reprehenderit iusto sint? Fuga illo nulla 
                fugiat nobis beatae. Maxime numquam doloremque dolorem et, repellendus 
                aspernatur porro commodi aperiam dignissimos veniam.
            </p>
            <div class="text-center bg-dark text-light mx-auto w-50">Centered Element</div>
        </div>

        <div class="my-5">
            <div class="d-flex flex-row shadow-lg p-3 bg-body-tertiary rounded-4">
                <div class="p-2">Flex item 1</div>
                <div class="p-2">Flex item 2</div>
                <div class="p-2">Flex item 3</div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>