<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

</head>
<body>

    <div class="container my-5">

        <div class="card w-25 text-white bg-dark">
            <img src="https://imgs.search.brave.com/GgeEQLjGiOY4YOZCPKIRPgOu7obktk8QHGC8EQ1L0RY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9yb3VuZC11c2Vy/LWljb24taXNvbGF0/ZWQtd2hpdGUtYmFj/a2dyb3VuZC1ibGFj/ay13aGl0ZS0zZC1y/ZW5kZXJpbmdfNjMx/MzUtMzg5My5qcGc_/c2VtdD1haXNfaHli/cmlkJnc9NzQw" alt="Github README" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Sudharshan Paul</h5>
                <p class="card-text">This is my Github Repository. You can Go and Check Out</p>
                <a href="https://github.com/sudharshanpaul" target="_blank" class="btn btn-info">Githib</a>
            </div>
            <div class="card-footer text-muted">Thanks for visiting:)</div>
        </div>

    </div>

    <div class="container-fluid my-3">
        <div class="row gx-2 gy-2">
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/QJyds4vGw9s8ytoauiFowSd_GKC-AWbRpKDhpUFa5MI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcm9o/aXQtc2hhcm1hLWNy/aWNrZXQtY2FwdGFp/bi1nZzR0MDdydmU1/MzUyMmI3LmpwZw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rohit Sharma</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="https://en.wikipedia.org/wiki/Rohit_Sharma" class="btn btn-primary">Wikipedia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/QJyds4vGw9s8ytoauiFowSd_GKC-AWbRpKDhpUFa5MI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcm9o/aXQtc2hhcm1hLWNy/aWNrZXQtY2FwdGFp/bi1nZzR0MDdydmU1/MzUyMmI3LmpwZw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rohit Sharma</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="https://en.wikipedia.org/wiki/Rohit_Sharma" class="btn btn-primary">Wikipedia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/QJyds4vGw9s8ytoauiFowSd_GKC-AWbRpKDhpUFa5MI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcm9o/aXQtc2hhcm1hLWNy/aWNrZXQtY2FwdGFp/bi1nZzR0MDdydmU1/MzUyMmI3LmpwZw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rohit Sharma</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="https://en.wikipedia.org/wiki/Rohit_Sharma" class="btn btn-primary">Wikipedia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://imgs.search.brave.com/QJyds4vGw9s8ytoauiFowSd_GKC-AWbRpKDhpUFa5MI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcm9o/aXQtc2hhcm1hLWNy/aWNrZXQtY2FwdGFp/bi1nZzR0MDdydmU1/MzUyMmI3LmpwZw" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Rohit Sharma</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="https://en.wikipedia.org/wiki/Rohit_Sharma" class="btn btn-primary">Wikipedia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card w-50">
            <img src="https://imgs.search.brave.com/KTLHfh8NlGabc1LQ-LULd4gxBAl0TFaZNhECm2FMOn4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy90/aHVtYi9lL2VmL1Zp/cmF0X0tvaGxpX2R1/cmluZ190aGVfSW5k/aWFfdnNfQXVzXzR0/aF9UZXN0X21hdGNo/X2F0X05hcmVuZHJh/X01vZGlfU3RhZGl1/bV9vbl8wOV9NYXJj/aF8yMDIzLmpwZy81/MTJweC1WaXJhdF9L/b2hsaV9kdXJpbmdf/dGhlX0luZGlhX3Zz/X0F1c180dGhfVGVz/dF9tYXRjaF9hdF9O/YXJlbmRyYV9Nb2Rp/X1N0YWRpdW1fb25f/MDlfTWFyY2hfMjAy/My5qcGc" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Virat Kohli</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cricketer</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>


    <div class="container my-5 border">
        <div class="card-group">
            <div class="card">
              <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>